.ruban{
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility!important;
    position: relative;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font: inherit;
    -webkit-tap-highlight-color: transparent;
    background-color: #5ACEE8;
    padding: 25px;
    color: #fff;
    font-size: 18px;
    text-align: center;
}
.question {
    top: 146px;
    left: 674px;
    width: 572px;
    height: 70px;
    text-align: center;
    font: Medium 50px/85px Zenon;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.subQuestion {
    top: 216px;
    left: 416px;
    width: 1088px;
    height: 44px;
    text-align: center;
    font: Regular 30px/40px Open Sans;
    letter-spacing: 1.5px;
    color: #FFFFFF;
    opacity: 1;
}

.dogContact{
    top: 316px;
    left: 306px;
    width: 646px;
    height: 665px;
    border-radius: 5px;
    opacity: 1;
}